/*---------------------------------------------------------------------------------------- */
/*--------------------------  Variables --------------------------------- */
/*---------------------------------------------------------------------------------------- */

:root{
    --color-fondo-footer: #f0f0f0;                                      /* fondo-footer  */
    --color-borde-margen-arriba: rgb(218, 218, 218);                    /* borde-margen-arriba  */
    --color-logo:rgb(255, 255, 255);                                    /* logo redes sociales */
    --color-facebook: rgb(0, 89, 255);                                  /* facebook  */
    --color-instagram: rgb(212, 52, 212);                               /* instagram  */
    --color-whatsapp: rgb(25, 160, 13);                                 /* whatsapp  */
    --color-mail: rgb(77, 120, 185);                                    /* mail  */
    --color-letras: rgb(0, 0, 0);                                       /*  letra */
    --tamaño-titulo: clamp(2rem, 2.5rem, 12vw);
    --tamaño-contenido-p: clamp(1rem, 1rem, 12vw);
    --tamaño-logo-redes-sociales: clamp(18px, 22px, 7vw);
}


/*---------------------------------------------------------------------------------------- */
/*-------------------------- Footer --------------------------------- */
/*---------------------------------------------------------------------------------------- */

footer{
    background: var(--color-fondo-footer);  /* respaldo para navegadores antiguos */
    border-top: 3px solid var(--color-borde-margen-arriba);
}

.contenedor-footer{
    display: flex;
    justify-content: center;
    text-align: center;  /*Cetra en anchura*/
    padding: 50px 100px 50px 100px;
    gap: 50px;
    
}


/* -------------------------Red Social-------------------------------*/



.contenedor-footer .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 55px;
    height: 55Px;
    line-height: 51px;
    color: var(--color-logo);
    text-align: center;
    transition: all 300ms ease;
    border-radius: 50%;
    border:2px solid var(--color-logo);
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin: 0px 10px 0px 10px;

}



.contenedor-footer .red-social h1{
    font-size: var(--tamaño-titulo);
    padding-bottom: 40px;
}

#facebook-color{
    background-color: var(--color-facebook);
    font-size: var(--tamaño-logo-redes-sociales);
}

#instagram-color{
    background-color: var(--color-instagram);
    font-size: var(--tamaño-logo-redes-sociales);
}

#whatsapp-color{
    background-color: var(--color-whatsapp);
    font-size: var(--tamaño-logo-redes-sociales);
}

#mail-color{
    background-color: var(--color-mail);
    font-size: var(--tamaño-logo-redes-sociales);
}


.contenedor-footer .red-social p{

    color: var(--color-nombres);
    text-align: center;
    font-size: var(--tamaño-contenido-p);
    padding-top: 30px;

}

.contenedor-footer .red-social h2{

    color: var(--color-letras);
    text-align: center;
    font-size:40px;
    margin-bottom: 20px;

}

.contenedor-footer .red-social a:hover{
    transform: scale(1.2);
}


/*-----------------------------------------------------------------------*/




.grupo-2{
    text-align: center;  /*Cetra en anchura*/
    align-items: center;  /*Cetra en altura*/
    
}


.red-social{
    width: 35rem;

}

.red-social p{
    padding-top: 20px;
}






.horarios{
    width: 35rem;
}

.horarios h1 {
    padding-bottom: 40px;
    font-size: var(--tamaño-titulo);
}

.horarios p {
    font-size: var(--tamaño-contenido-p);
}

.horarios span {
    font-weight: bold;
    color: rgb(90, 90, 90);
}






.footer-ubicacion{
    color: var(--color-letras);
    text-align: center;  /*Cetra en anchura*/
    align-items: center;  /*Cetra en altura*/
    width: 35rem;
}

.footer-ubicacion h1{
    font-size: var(--tamaño-titulo);
}

.footer-ubicacion p{
    font-size: var(--tamaño-contenido-p);
    padding: 40px 0 20px 0px;
}

.footer-ubicacion iframe {
    width: 60%;
    height: 5rem;
    box-shadow: 0 0 6px 2px rgba(17, 17, 17, .3);
}

.ubicacion iframe {
    margin: 10px;
    padding-top: 25px;
    width: 50%;
    height: 100px;
    
}

.logo img{
    width: 50%;
}




/*--------------------------------------------------------------
-----------------------  Respónsive  ---------------------------
----------------------------------------------------------------*/


 @media screen and (max-width: 1500px){
    
    .contenedor-footer{
        flex-direction: column;
        align-items: center;
        padding: 50px 0 50px 0;
        gap: 2.5rem;
    }

    .red-social{
        width: 100%;
    }

    .contenedor-footer .red-social h1{
        padding-bottom: 20px;
    }

    .horarios{
        width: 100%;
    }

    .horarios h1 {
        padding-bottom: 20px;
    }

    .footer-ubicacion{
        width:100%;
    }

    .footer-ubicacion p{
        padding: 20px 0 20px 0px;
    }

    .footer-ubicacion iframe {
        height: 10rem;
    }

}  

/*--------------------------------------------------------------------------------------------------*/

 @media screen and (max-width: 355px){
    

    .contenedor-footer .red-social a{
        margin: 5px;
    }

} 
    
/*--------------------------------------------------------------------------------------------------*/    

@media screen and (max-width: 281px){
    .contenedor-footer .red-social a{
        width: 38px;
        height: 38Px;
        line-height: 34px;
        margin: 5px;
    }
} 
 
